<div class="card w-full flex justify-center my-10">

    <form [formGroup]="passwordForm"
            (ngSubmit)="onSubmit()"
            class="w-full max-w-2xl flex flex-col gap-2 p-2"
        >
        <div>
            <label for="oldPassword" class="block text-lg font-semibold">
                Mot de passe
            </label>
            <p-password formControlName="oldPassword"
                [invalid]="isInvalid('oldPassword')"
                [feedback]="false"
                [toggleMask]="true"
                autocomplete="off"
                fluid
                class="w-full my-2"
            />

            @if (isInvalid('oldPassword')) {
                <p-message severity="error" size="small" variant="simple">Password is required.</p-message>
            }
        </div>
        <div>
            <label for="newPassword" class="block text-lg font-semibold">
                Nouveau Mot de passe
            </label>
            <p-password formControlName="newPassword"
                [invalid]="isInvalid('newPassword')"
                [feedback]="true"
                [toggleMask]="true"
                [mediumRegex]="mediumPasswordRegex"
                [strongRegex]="strongPasswordRegex"
                autocomplete="off"
                fluid
                class="w-full my-2"
            >
                <ng-template #footer>
                    <p-divider />
                    <ul class="pl-2 my-0 leading-normal">
                        <li [class.text-green-600]="hasLowercase()" [class.text-red-600]="!hasLowercase()">
                            <i [class]="hasLowercase() ? 'pi pi-check' : 'pi pi-times'"></i>
                            Au moins une minuscule
                        </li>
                        <li [class.text-green-600]="hasUppercase()" [class.text-red-600]="!hasUppercase()">
                            <i [class]="hasUppercase() ? 'pi pi-check' : 'pi pi-times'"></i>
                            Au moins une majuscule
                        </li>
                        <li [class.text-green-600]="hasNumeric()" [class.text-red-600]="!hasNumeric()">
                            <i [class]="hasNumeric() ? 'pi pi-check' : 'pi pi-times'"></i>
                            Au moins un chiffre
                        </li>
                        <li [class.text-green-600]="hasSpecialChar()" [class.text-red-600]="!hasSpecialChar()">
                            <i [class]="hasSpecialChar() ? 'pi pi-check' : 'pi pi-times'"></i>
                            Au moins un caractère spécial (#?!@$%^&*-)
                        </li>
                        <li [class.text-green-600]="hasMinLength()" [class.text-red-600]="!hasMinLength()">
                            <i [class]="hasMinLength() ? 'pi pi-check' : 'pi pi-times'"></i>
                            Minimum 8 caractères
                        </li>
                    </ul>
                </ng-template>
            </p-password>

            @if (isInvalid('newPassword')) {
                <p-message severity="error" size="small" variant="simple">Le mot de passe est requis.</p-message>
            }
        </div>

        <div>
            <label for="confirmNewPassword" class="block text-lg font-semibold">
                Confirmer le mot de passe
            </label>
            <p-password formControlName="confirmNewPassword"
                [invalid]="isInvalid('confirmNewPassword')"
                [feedback]="true"
                [toggleMask]="true"
                autocomplete="off"
                fluid
                class="w-full my-2"
            >
                <ng-template #footer>
                    <p-divider />
                    <ul class="pl-2 my-0 leading-normal">
                        <li [class.text-green-600]="hasConfirmLowercase()" [class.text-red-600]="!hasConfirmLowercase()">
                            <i [class]="hasConfirmLowercase() ? 'pi pi-check' : 'pi pi-times'"></i>
                            Au moins une minuscule
                        </li>
                        <li [class.text-green-600]="hasConfirmUppercase()" [class.text-red-600]="!hasConfirmUppercase()">
                            <i [class]="hasConfirmUppercase() ? 'pi pi-check' : 'pi pi-times'"></i>
                            Au moins une majuscule
                        </li>
                        <li [class.text-green-600]="hasConfirmNumeric()" [class.text-red-600]="!hasConfirmNumeric()">
                            <i [class]="hasConfirmNumeric() ? 'pi pi-check' : 'pi pi-times'"></i>
                            Au moins un chiffre
                        </li>
                        <li [class.text-green-600]="hasConfirmSpecialChar()" [class.text-red-600]="!hasConfirmSpecialChar()">
                            <i [class]="hasConfirmSpecialChar() ? 'pi pi-check' : 'pi pi-times'"></i>
                            Au moins un caractère spécial (#?!@$%^&*-)
                        </li>
                        <li [class.text-green-600]="hasConfirmMinLength()" [class.text-red-600]="!hasConfirmMinLength()">
                            <i [class]="hasConfirmMinLength() ? 'pi pi-check' : 'pi pi-times'"></i>
                            Minimum 8 caractères
                        </li>
                        <li [class.text-green-600]="passwordsMatch()" [class.text-red-600]="!passwordsMatch()">
                            <i [class]="passwordsMatch() ? 'pi pi-check' : 'pi pi-times'"></i>
                            Les mots de passe correspondent
                        </li>
                    </ul>
                </ng-template>
            </p-password>

            @if (isInvalid('confirmNewPassword')) {
                @if (passwordForm.get('confirmNewPassword')?.errors?.['required']) {
                    <p-message severity="error" size="small" variant="simple">Le mot de passe de confirmation est requis.</p-message>
                }
            }
            
            @if (passwordForm.errors?.['passwordMismatch'] && (passwordForm.get('confirmNewPassword')?.touched || formSubmitted)) {
                <p-message severity="error" size="small" variant="simple">Les mots de passe ne correspondent pas</p-message>
            }
        </div>

        <p-button label="Changer le mot de passe"
            type="submit"
            styleClass="w-full mt-8"
            [disabled]="passwordForm.invalid"
        ></p-button>
    </form>
</div>