<app-main-title>Mon Abonnement</app-main-title>

@if (hasSubscription()) {
    <section class="bg-[#f8f9fa] rounded-xl p-5 shadow-lg my-5 flex justify-between items-center">
        <div class="flex flex-col gap-3">
            <span class="font-semibold italic">
                Vous êtes actuellement souscrit à l'abonnement : 
            </span>
            <p class="pl-5 italic text-purple-700 flex items-center gap-5">
                <i class="pi pi-arrow-right"></i>
                {{ activeSubscriptionDetails()?.plan?.name }} 
                ({{ activeSubscriptionDetails()?.plan?.price }} {{ activeSubscriptionDetails()?.plan?.currency }})
            </p>
            <p class="text-sm text-slate-500 ml-9 font-bold flex items-center gap-2">
                Statut : 
                <span [class]="getStatusClass(activeSubscriptionDetails()?.status)" class="uppercase font-bold">
                    {{ activeSubscriptionDetails()?.status }}
                </span> 
                <span class="text-slate-300 font-light mx-1">|</span>
                <span class="font-medium italic">
                    Fin de période : {{ activeSubscriptionDetails()?.currentPeriodEnd | date:'dd/MM/yyyy' }}
                </span>
            </p>
        </div>
        <!-- <p-button label="Annuler mon abonnement"
            type="submit"
            icon="pi pi-times"
            iconPos="left"
            severity="secondary"
            styleClass="mx-auto whitespace-nowrap flex items-center"
        /> -->
        @if (!activeSubscriptionDetails()?.cancelAtPeriodEnd) {
            <p-button label="Annuler mon abonnement"
                (onClick)="onCancelSubscription()"
                icon="pi pi-times"
                severity="secondary"
                styleClass="whitespace-nowrap"
            />
        } @else {
            <span class="text-orange-500 font-medium italic text-sm">Fin de contrat programmée</span>
        }
    </section>
} @else {
    <section class="flex flex-col items-center gap-10 p-5 italic font-medium text-slate-400 text-center md:p-10">
        <p>Vous n'êtes actuellement souscrit à aucun abonnement. Pour profiter des services, veuillez choisir un des abonnements ci-dessous.</p>
        <i class="pi pi-arrow-down animate-bounce text-fuchsia-400" style="font-size: 2rem"></i>
    </section>
}

<section pAnimateOnScroll 
    id="subscription"
    class="bg-[#f8f9fa] rounded-xl p-5 shadow-lg"
    [class.pointer-events-none]="hasSubscription()"
    [class.opacity-50]="hasSubscription()"
    enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
>
    <h2 class="text-xl text-center font-semibold mb-8">Choisis ton abonnement</h2>
    <form [formGroup]="subscriptionForm"
        (ngSubmit)="onSubmit()"
        class="flex flex-col items-center gap-5"
    >
        <div class="grid grid-cols-12 gap-4 justify-between">
            <div class="col-span-12 lg:col-span-4 p-0 md:p-4">
                <label for="free" class="p-4 flex flex-col border-slate-200 cursor-pointer border-2 hover:border-primary duration-300 transition-all" style="border-radius: 10px">
                    <p-radiobutton formControlName="selectedSubscription"
                        name="subscriptions"
                        [value]="1"
                        inputId="hebdomadaire"
                        [invalid]="isInvalid('selectedSubscription')"
                    />
                    <div class="text-center my-8 text-3xl">Hebdomadaire</div>
                    <img src="https://primefaces.org/cdn/templates/sakai/landing/free.svg" class="w-10/12 mx-auto" alt="free" />
                    <div class="my-8 flex flex-col items-center gap-4">
                        <div class="flex items-center">
                            <span class="text-5xl font-bold mr-2">€1,29</span>
                            <span class="">par semaine</span>
                        </div>
                        <button pButton pRipple label="Try Free" routerLink="/login" class="p-button-rounded border-0 ml-4 font-light leading-tight bg-blue-500 text-white"></button>
                    </div>
                </label>
            </div>
            <div class="col-span-12 lg:col-span-4 p-0 md:p-4">
                <label for="mensuel" class="p-4 flex flex-col border-slate-200 cursor-pointer border-2 hover:border-primary duration-300 transition-all" style="border-radius: 10px">
                    <p-radiobutton formControlName="selectedSubscription"
                        name="subscriptions"
                        [value]="2"
                        inputId="mensuel"
                        [invalid]="isInvalid('selectedSubscription')"
                    />
                    <div class="text-center my-8 text-3xl">Mensuel</div>
                    <img src="https://primefaces.org/cdn/templates/sakai/landing/startup.svg" class="w-10/12 mx-auto" alt="startup" />
                    <div class="my-8 flex flex-col items-center gap-4">
                        <div class="flex items-center">
                            <span class="text-5xl font-bold mr-2">€9.99</span>
                            <span class="">par mois</span>
                        </div>
                        <button pButton pRipple label="Get Started" routerLink="/login" class="p-button-rounded border-0 ml-4 font-light leading-tight bg-blue-500 text-white"></button>
                    </div>
                </label>
            </div>
            <div class="col-span-12 lg:col-span-4 p-0 md:p-4">
                <label for="annuel" class="p-4 flex flex-col border-slate-200 cursor-pointer border-2 hover:border-primary duration-300 transition-all" style="border-radius: 10px">
                    <p-radiobutton formControlName="selectedSubscription"
                        name="subscriptions"
                        [value]="3"
                        inputId="annuel"
                        [invalid]="isInvalid('selectedSubscription')"
                    />
                    <div class="text-center my-8 text-3xl">Annuel</div>
                    <img src="https://primefaces.org/cdn/templates/sakai/landing/enterprise.svg" class="w-10/12 mx-auto" alt="enterprise" />
                    <div class="my-8 flex flex-col items-center gap-4">
                        <div class="flex items-center">
                            <span class="text-5xl font-bold mr-2">€99.99</span>
                            <span class="">per month</span>
                        </div>
                        <button pButton pRipple label="Get Started" routerLink="/login" class="p-button-rounded border-0 ml-4 font-light leading-tight bg-blue-500 text-white"></button>
                    </div>
                </label>
            </div>
        </div>
        @if (isInvalid('selectedCategory')) {
            <p-message severity="error" size="small" variant="simple">Tu dois sélectionner un des 3 abonnements !</p-message>
        }
        <p-button label="Choisir cet abonnement"
            type="submit"
            icon="pi pi-check"
            iconPos="left"
            [disabled]="subscriptionForm.invalid || hasSubscription()"
            styleClass="mx-auto whitespace-nowrap flex items-center"
        />
    </form>
</section>