<section pAnimateOnScroll 
    id="timeline"
    class="bg-[#f8f9fa] rounded-xl p-5 shadow-lg lg:px-10"
    enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
>
    <h2 class="text-xl text-center font-bold">Comment utiliser Simswap pour echanger des visages par IA ?</h2>
    <p class="text-sm text-center italic text-slate-400 my-2">Avec Simswap, devenez la personne que vous voulez être.</p>
    <div class="my-10 flex flex-col lg:flex-row justify-center items-center gap-10 lg:gap-0">
        <img src="/images/illustrations/face-swap-1.jpg"
            alt="Illustration de Simswap"
            class="w-11/12 max-w-sm xl:max-w-lg rounded-2xl shadow-2xl border-2 border-primary"
        />
        <p-timeline [value]="events" class="ml-0 md:ml-20">
            <ng-template #content let-event>
                <span class="font-semibold">{{ event.title }}</span>
                <p class="italic text-slate-400">{{ event.description }}</p>
            </ng-template>
        </p-timeline>
    </div>
</section>