footer {
    width: 90vw;
    max-width: 1440px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    gap: 10px;
    font-weight: 400;
}

footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer ul li a {
    text-decoration: none;
    color: inherit;
}

footer ul li a:hover {
    color: var(--p-rose-500);
    text-decoration: none;
    font-weight: semi-bold;
}

@media (min-width: 768px) {
    footer {
        height: 60px;
        flex-direction: row;
    }
}