<div class="max-w-xl w-full mx-auto p-1.5 rounded-[36px] lg:rounded-[56px]" style="background: linear-gradient(180deg, #f3c6f1 10%, rgba(33, 150, 243, 0) 30%);">
    <div class="w-full flex flex-col items-center gap-10 bg-[#f8f9fa] px-2 py-10 rounded-[33px] sm:p-10 lg:rounded-[53px]">
        <div class="flex flex-col items-center">
            <img src="/images/illustrations/forgot-password.svg" alt="Illustration de Mot de passe oublié" />

            <h1 class="text-xl font-medium">
                Mot de passe oublié ?
            </h1>
            <span class="text-center italic text-sm text-slate-400">Entrez votre email pour recevoir un mail de réinitialisation de mot de passe</span>
        </div>

        <form [formGroup]="forgotPasswordForm"
            (ngSubmit)="onSubmit()"
            class="w-full max-w-2xl flex flex-col gap-6 p-2"
        >
            @if (errorMessage()) {
                <p-message 
                    severity="error" 
                    [text]="errorMessage()!"
                    styleClass="w-full mb-4"
                ></p-message>
            }
            <div>
                <label for="email" class="block text-lg font-semibold">
                    Email
                </label>
                <input pInputText 
                    id="email"
                    type="email"
                    placeholder="Email address"
                    formControlName="email"
                    [invalid]="isInvalid('email')"
                    class="w-full my-2"
                >
                @if (isInvalid('email')) {
                    @if (forgotPasswordForm.get('email')?.errors?.['required']) {
                        <p-message severity="error" size="small" variant="simple">Email is required.</p-message>
                    }
                    @if (forgotPasswordForm.get('email')?.errors?.['email']) {
                        <p-message severity="error" size="small" variant="simple">Please enter a valid email.</p-message>
                    }
                }
            </div>

            <p-button label="Réinitialiser le mot de passe"
                type="submit"
                styleClass="w-full"
                routerlink="/"
                [disabled]="forgotPasswordForm.invalid"
            ></p-button>
        </form>
    </div>
</div>
