<section pAnimateOnScroll 
    id="faq"
    class="bg-[#f8f9fa] rounded-xl p-5 shadow-lg"
    enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
>
    <h2 class="text-xl text-center font-bold">FAQ sur SimSwap</h2>
    <p class="text-sm text-center italic text-slate-400 my-2">Vous avez des questions sur Simswap? Voici pour vous les réponses des questions fréquentes.</p>
    @for (section of sections; track section.title) {
        <div class="my-10">
            <h3 class="font-semibold ml-10 my-5 text-primary">{{ section.title }}</h3>

            <p-accordion [value]="0">
                @for (tab of section.tabs; track tab.title) {
                <p-accordion-panel [value]="tab.value">
                    <p-accordion-header>{{ tab.title }}</p-accordion-header>
                    <p-accordion-content>
                        <p class="py-3 italic text-slate-500">{{ tab.content }}</p>
                    </p-accordion-content>
                </p-accordion-panel>
                }
            </p-accordion>
        </div>
    }
</section>
